html {
  background: url(https://github.com/learn-co-students/kwk-css-selectors-gems-kwk-students-l1-dfw-070918/blob/master/images/beach.jpg?raw=trueg) no-repeat top center;
}

img {
  position: relative;
  z-index: 11;
  cursor: pointer;
}

.wrapper {
  position: relative;
  width: 960px;
  height: 100vh;
  margin: 0 auto;
}

#wheelbarrow, #wheelbarrow-foreground {
  margin-left: 80px;
  width: 688px;
  height: 514px;
}

#wheelbarrow { 
  position: relative;
  background: url(https://github.com/learn-co-students/kwk-css-selectors-gems-kwk-students-l1-dfw-070918/blob/master/images/treasure-chest-background.png?raw=true) no-repeat;
  z-index: 0;
  top: 150px;
}
#wheelbarrow-foreground {
  pointer-events: none;
  position: absolute;
  background: url(https://github.com/learn-co-students/kwk-css-selectors-gems-kwk-students-l1-dfw-070918/blob/master/images/treasure-chest-foreground.png?raw=true) no-repeat;
  z-index: 10;
  top: 150px;
}

#sand, #ocean {
  display: inline;
}
